$(function () {
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    $.ajax({
        url:'/getdata',
        success:function (data) {
            json_data=JSON.parse(data)

            console.info(json_data['language'])
            console.info(json_data['value'])

            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '学习语言人数统计'
                },
                tooltip: {},
                legend: {
                    data:['销量']
                },
                xAxis: {
                    data: json_data['language']
                },
                yAxis: {},
                series: [{
                    name: '销量',
                    type: 'bar',
                    data: json_data['value']
                }]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);

        }
    })
})
